<h2>Welcome!</h2>
<h3>This app is all about function over form. If you're looking to authorize this app, click <a href="https://app.vssps.visualstudio.com/oauth2/authorize?client_id={{clientId}}&response_type=Assertion&state={{state}}&scope=vso.packaging_write&redirect_uri={{redirectUri}}">here</a></h3>